<!--Master page-->

<!DOCTYPE html>
<html>
<head>
    <title>Blog-To-Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="css/base.css" rel='stylesheet' type='text/css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel='stylesheet'>
</head>
<body>
    <!-- headerr -->
    <div id="home" class="banner">
        <div class="header-info">
            <div class="header-info-left">
                <div class="logo">
                    <a href="#"><h1>Blog-To-Me</h1></a>
                </div>
            </div>
            <div class="header-info-right">
                <div class="header cbp-spmenu-push">
                    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
                        <a href="#">Home</a>
                        <a href="#about">About</a>
                        <a href="../Navigator/Navigator.cshtml">Navigator</a>
                    </nav>
                    <div class="clearfix">


                    </div>
                    <div class="main">
                        <section class="buttonset" >
                            <button id="showRightPush"><img src="images/menu-1.png" /></button>
                        </section>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="banner-bottom">
            <h2>Best blog on web around</h2>
            <ul>
                <li><a class="active" href="#lookmore">Login & Register</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
        <div class="d-arw">
            <a href="#lookmore" class="scroll"><img src="images/d-arw.png" alt="" /></a>
        </div>
    </div>
    <!--headerr-->
    <p id="lookmore"></p>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            <p id="about"></p>
               @RenderBody()</section>
    </div>
    <!--About-starts--> <!--About-starts--> <!--About-starts--> <!--About-starts-->
    <div class="newsletter">
        <div class="container">
            <div class="newsletter-main">
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut  aliquip ex ea commodo consequat.Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,  vel illum dolore eu feugiat nulla 
                cilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum  zzril delenit augue</p>
              
                <div class="newsletter-bottom">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut  aliquip ex ea commodo consequat.Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,  vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum  zzril delenit augue</p>
                </div>
            </div>
        </div>
    </div>
    <!--About-starts--> <!--About-starts--> <!--About-starts-->
    <!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-main">
                <div class="col-md-6 footer-left">
                    <a href="index.html"><h3>Bloging or what!?</h3></a>
                </div>
                <div class="col-md-6 footer-right">
                    <ul>
                        <li><a href="#"><span class="fb"> </span></a></li>
                        <li><a href="#"><span class="twit"> </span></a></li>
                        <li><a href="#"><span class="yt active"> </span></a></li>
                      
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-text">
                <p>Powered by <a href="#"> Blog-To-Me</a></p>
            </div>
        </div>
        <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
    <!--footer-ends-->

    <!-- Scripts--> <!-- Scripts--> <!-- Scripts--> <!-- Scripts--> <!-- Scripts--> <!-- Scripts--> <!-- Scripts-->

    <script src="js/classie.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script>
        $("span.menu").click(function () {
            $("ul.navigatoin").slideToggle("300", function () {
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script>
        var menuRight = document.getElementById('cbp-spmenu-s2'),
            showRightPush = document.getElementById('showRightPush'),
            body = document.body;

        showRightPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toleft');
            classie.toggle(menuRight, 'cbp-spmenu-open');
            disableOther('showRightPush');
        };
    </script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Scripts-->
</body>
</html>