@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}


<!-- Pocetna strana -->

@section featured {

<section class="featured">
    <div id="login-form">

        <input type="radio" checked id="login" name="switch" class="hide">
        <input type="radio" id="signup" name="switch" class="hide">

        <div>
            <ul class="form-header">
                <li><label for="login"><i class="fa fa-lock"></i> LOGIN<label for="login"></li>
                <li><label for="signup"><i class="fa fa-credit-card"></i> REGISTER</label></li>
            </ul>
        </div>

        <div class="section-out">
            <section class="login-section">
                <div class="login">
                    <form action="">
                        <ul class="ul-list">
                            <li><input type="username" required class="input" placeholder="Your Username" /><span class="icon"><i class="fa fa-user"></i></span></li>
                            <li><input type="password" required class="input" placeholder="Password" /><span class="icon"><i class="fa fa-lock"></i></span></li>
                            <input type="checkbox" id="check"> <label for="check">Remember Me</label>
                            <input type="submit" value="SIGN IN" class="btn">
                        </ul>
                    </form>
                </div>
            </section>

            <section class="signup-section">
                <div class="login">
                    <form action="">
                        <ul class="ul-list">
                            <li><input type="username" required class="input" placeholder="Username" /><span class="icon"><i class="fa fa-smile-o"></i></span></li>
                            <li><input type="email" required class="input" placeholder="Your Email" /><span class="icon"><i class="fa fa-envelope" ></i></span></li>
                            <li><input type="password" required class="input" placeholder="Password" /><span class="icon"><i class="fa fa-lock"></i></span></li>
                            <li><input type="checkbox" id="check1"> <label for="check1">I accept terms and conditions</label></li>
                            <li><input type="submit" value="SIGN UP" class="btn"></li>
                        </ul>
                    </form>
                </div>
            </section>
        </div>

    </div>
</section>
}

